.bg {
  background: url("/Seal_of_the_United_States_Congress2.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  background-position: 50%,10%,  center;
  width: 100%;
  height: 200%;
  z-index: -1;
  opacity: 0.1
}
